*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

button {
  cursor: pointer;
}

img {
  max-height: 100px;
  width: auto;
}

/* Logo */
h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 80px;
  box-shadow: 0 3px 2px -2px #9ca3af;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.link-style {
  border-bottom: 2px solid transparent;
}

.link-style:hover {
  border-color: black;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-btn {
  display: flex;
  align-items: center;
  background-color: white;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

/* HOME SECTION */

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 220px;
  height: 300px;
  padding: 20px 25px;
  text-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 20px 0 20px 0;
}

/*
.rating {
} */

.shop-now-btn {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d3d1;
  background-color: white;
  transition: background-color 0.25s;
}

.shop-now-btn:hover {
  background-color: #d6d3d1;
}

/* SHOP SECTION */

.shop {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.sidebar > button {
  text-align: left;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.sidebar > button:hover {
  background-color: #e2e8f0;
}

.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* INDIVIDUAL PRODUCT SECTION */

.product-page {
  padding: 30px;
}

.product-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qty-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.qty-container > button {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #d6d3d1;
  background-color: white;
  transition: background-color 0.25s;
}

.qty-container > button:hover {
  background-color: #e2e8f0;
}

.back-btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.back-btn:hover {
  background-color: #e2e8f0;
}

.add-to-cart-btn {
  max-width: 250px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #d6d3d1;
  background-color: white;
  transition: background-color 0.25s;
}

.add-to-cart-btn:hover {
  background-color: #e2e8f0;
}

/* CART SECTION */

.cart > h2 {
  padding: 0px 0px 20px 30px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.list-item > img {
  max-width: 50px;
  max-height: 50px;
}

.item-info {
  width: 250px;
}

.qty-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.delete-btn {
  width: 75px;
  height: 75px;
}

.checkout {
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transport {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout > button {
  width: 100%;
}

hr {
  margin-left: 0;
  margin-right: 0;
}
