*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
  font: inherit;
}

img {
  max-height: 100px;
  width: auto;
}

/* Logo & nav elements */
.logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 60px;
  box-shadow: 0 3px 2px -2px #9ca3af;
  margin-bottom: 10px;
}

.link-style {
  border-bottom: 2px solid transparent;
}

.link-style:hover {
  border-color: black;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  min-height: 41px;
}

/* HOME SECTION */

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 220px;
  height: 300px;
  padding: 20px 25px;
  text-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 20px 0 20px 0;
}

.description > h1 {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.description > h3 {
  font-weight: 700;
  font-size: 20px;
}

.description > p {
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-weight: 700;
}

.price-stock {
  color: #196ef7;
}

.rating-qty {
  font-weight: 300;
  font-size: 14px;
  color: gray;
}

.shop-now-btn {
  padding: 15px 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d6d3d1;
  background-color: white;
  transition: background-color 0.25s;
  font-weight: 700;
  font-size: 14px;
}

.shop-now-btn:hover {
  background-color: #d6d3d1;
}

/* SHOP SECTION */

.shop {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.sidebar > button {
  text-align: left;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-weight: 700;
}

.sidebar > button:hover {
  background-color: #e2e8f0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex: 5;
  gap: 20px;
  padding: 10px;
}

/* INDIVIDUAL PRODUCT SECTION */

.product-page {
  padding: 30px;
}

.product-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-side > h2 {
  font-weight: 900;
  font-size: 24px;
}

.right-side > h3 {
  font-weight: 700;
}

.product-description {
  font-size: 18px;
}

.qty-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.qty-button {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #d6d3d1;
  background-color: white;
  transition: background-color 0.25s;
}

.qty-button:hover {
  background-color: #e2e8f0;
}

.back-btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.back-btn:hover {
  background-color: #e2e8f0;
}

.add-to-cart-btn {
  max-width: 250px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #d6d3d1;
  background-color: white;
  transition: background-color 0.25s;
  font-weight: 700;
  font-size: 14px;
}

.add-to-cart-btn:hover {
  background-color: #e2e8f0;
}

/* CART SECTION */

.cart > h2 {
  padding: 0px 0px 20px 60px;
  font-weight: 700;
  font-size: 20px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 40px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.list-item > img {
  max-width: 50px;
  max-height: 50px;
}

.list-item > h3 {
  min-width: 100px;
  font-weight: 700;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.item-info > h3 {
  font-weight: 700;
}

.qty-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.qty-buttons > p {
  min-width: 25px;
  text-align: center;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #d6d3d1;
  background-color: white;
  transition: background-color 0.25s;
}

.delete-btn:hover {
  background-color: #ef4444;
}

.checkout {
  padding: 50px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.checkout > h2,
.checkout > h3 {
  font-weight: 900;
}

.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  color: #404040;
}

.transport {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  color: #404040;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 900;
}

.checkout > button {
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding: 14px 0px;
  border-radius: 8px;
  border: 1px solid #3895ff;
  background-color: #3895ff;
  color: white;
  transition: background-color 0.25s ease;
}

.checkout > button:hover {
  background-color: #2666dc;
}

hr {
  margin-left: 0;
  margin-right: 0;
  border: 1px solid rgb(209, 213, 219);
}

.cart-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.cart-placeholder > h2 {
  font-weight: 900;
  font-size: 24px;
}

.cart-placeholder > h3,
.cart-placeholder > p {
  font-weight: 400;
  font-size: 22px;
  color: #404040;
}

/* ERROR PAGE */
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
  font-weight: 700;
  font-size: 18px;
}
.error-link {
  font-weight: 900;
  font-size: 24px;
  font-style: italic;
}

@media screen and (max-width: 660px) {
  .list-item {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    padding: 10px 20px;
  }

  .logo {
    font-size: 24px;
  }

  .nav-btn {
    font-size: 14px;
  }

  ul {
    flex-direction: column;
  }

  .shop {
    gap: 5px;
  }

  .cart-list {
    gap: 30px;
  }

  .product-info {
    flex-direction: column;
  }

  .right-side {
    gap: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .cart-container {
    gap: 20px;
    flex-direction: column;
  }

  .checkout {
    width: auto;
    padding: 30px;
  }

  .subtotal,
  .transport {
    font-size: 14px;
  }
}
